PORT=3000
NODE_ENV=development

# MongoDB connection (local or Atlas)
MONGODB_URI=mongodb://localhost:27017/restaurant_reservation

# JWT
JWT_SECRET=change_this_secret_in_production
JWT_EXPIRES_IN=1d

# Seed admin account (created by `npm run db:seed`)
SEED_ADMIN_NAME=System Admin
SEED_ADMIN_EMAIL=admin@restaurant.com
SEED_ADMIN_PASSWORD=Admin123!
SEED_ADMIN_TELEPHONE=0000000000
